# Eclipse
.classpath
.project
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
#.vscode
.factorypath

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# Spring
.factorypath
.attach*

# Narayana
transaction-logs

#Graal
*build_artifacts.txt
native-image-agent

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env

# Quarkus
.mvn

#AWS

aws.keys
